/* font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;700&display=swap');

/* container */
.container{
    max-width: 1000px;
    margin: 0 auto;
}
.row{
    margin: 0 20px;
    position: relative;
}

/* header */
#header .logo{
    font-weight: 700;
    font-size: 30px;
    color: #393939;
    line-height: 50px;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}
#header .menu{
    position: absolute;
    width: 40px;
    height: 40px;
    right: 0;
    background: linear-gradient(180deg, #040404 0%, rgba(150, 146, 146, 0) 100%);
    color: white;
    font-size: 20px;
    font-weight: 700;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 10px;
}

/* main */
.daily{
    margin-top: 20px;
    padding: 20px 0;
    overflow: hidden;
}
.daily h2{
    font-weight: 400;
    font-size: 20px;
    color: black;
    margin: 10px 0;
}
.daily .d_img{
    float: left;
    width: 47%;
    margin-right: 3%
}
.daily .d_img:last-child{
    margin-right: 0;
}