/* font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;700&display=swap');

/* container */
.container{
    width: 1000px;
    margin: 0 auto;
}
.row{
    margin: 0, 20px;
}

/* header */
#header .logo{
    font-weight: 700;
    font-size: 30px;
    color: #393939;
    line-height: 40px;
}

#header .menu{
    position: absolute;
    width: 40px;
    height: 40px;
    right: 0;
    background: linear-gradient(180deg, #040404 0%, rgba(150, 146, 146, 0) 100%);
    color: white;
    font-size: 20px;
    font-weight: 700;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}